* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url("../assets/bg-desktop.jpg");
  height: 100vh;
}

h1 {
  text-align: center;
  color: white;
}
/* 6400 x 450 = 533,333 */

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

#animation {
  width: 533px;
  height: 450px;
  background: url(./img/board_all_12_150dpi.png) left center;
  background-size: cover;
  animation: play 2s steps(12) infinite;
  display: inline-block;
}

button a {
  background-color: lightgray;
  height: 30px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
button a:hover {
  background-color: darkgray;
}

@keyframes play {
  100% {background-position: -6400px;}
}